/* GERAL */
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Playfair', sans-serif;
	color: #222;
}

/* HOMEPAGE */

/* NAVBAR */
.navbar {
	height: 150px;
	padding: .8rem;
}

/* Logótipo */
.navbar img {
	height: 80px;
}

a.navbar-brand {
	margin: 30px;
}

/* Barra de pesquisa */
.form-control.mr-sm-2 {
	width: 350px;
	background-color: #acacac;
	border-radius: 20px;
}

.form-control.mr-sm-2::placeholder {
	color: #fff;
}

.form-control.mr-sm-2:focus {
	background-color: #acacac;
	color: #fff;
}

/* Botão de pesquisa */
.navbar-collapse > button {
	background-color: rgb(172, 39, 98);
	color: #fff;
	border-radius: 20px;
	margin-right: 30px;
	transition-duration: 0.5s;
  transition-timing-function: linear;
}
.navbar-collapse > button:hover {
	background-color: #ed1a1a;
}

/* SLIDER */
.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ed1a1a!important;
}

.carousel-caption h1 {
	font-size: 405%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.carousel-caption h1:hover {
	transition-duration: 0.5s;
  transition-timing-function: linear;
	color: #8C2B72;
}

.carousel-caption h3 {
	font-size: 180%;
	font-weight: 500;
	padding-bottom: 1rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.carousel-caption h3:hover {
	transition-duration: 0.5s;
  transition-timing-function: linear;
	color: #8C2B72;
}

button.btn.btn-outline-light.btn-lg {
	background-color: #ed1a1a;
	border: 1px solid #ED1A3B;
	transition-duration: 0.5s;
  transition-timing-function: linear;
	font-weight: bold;
	padding: 15px;
}

button.btn.btn-outline-light.btn-lg:hover {
	background-color: #8C2B72;
	border: 1px solid #8C2B72;
	color: #fff;
}

