* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#site_link {
  width: 18%;
  text-align: center;
  transform: scale(0.8);
  animation-name: intro1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes intro1 {
  0% {transform: scale(0.9)}
  100% {transform: scale(1)}
}

#site_link:hover {
  transform: scale(1);
  animation-name: intro2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes intro2 {
  0% {transform: scale(1)}
  100% {transform: scale(0.9)}
}

#intro_logo {
  width: 100%;
  opacity: 0;
  transform: scale(0);
  transform: rotate(0deg);
  animation-name: intro3;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes intro3 {
  0% {transform: scale(0); opacity: 0; transform: rotate(0deg)}
  100% {transform: scale(1); opacity: 1; transform: rotate(720deg)}
}

#intro_entity {
  width: 20%;
  opacity: 0;
  transform: scale(0);
  transform: rotate(0deg);
  animation-name: intro4;
  animation-duration: 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

@keyframes intro4 {
  0% {opacity: 0}
  100% {opacity: 1}
}
